@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid mt-3">
    <h1 class="text-center text-secondary">@ViewData["Title"]</h1>

    <h4 class="mt-4">Information We Collect</h4>
    <p>We collect personal information you provide when using our services, including name, email, and contact details.</p>

    <h4 class="mt-4">How We Use Information</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">To provide and improve our services</li>
        <li class="list-group-item">To personalize user experience</li>
        <li class="list-group-item">To communicate with you</li>
    </ul>

</div>
